:host{
    height: 100%;
}
.img-container{
    padding-right: 20px;
}
.container{
    width: 100%;
}

mat-card{
    height: 80%;
    margin: 20px
}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
mat-chip-list{
    padding: 10px;
}
