
.container{
    height: 100%;
    width: 100%;
    background: teal;
    color: #fff
}
.container mat-card{
   // padding: 0px;
   width: 500px;
}

.form-login{
    padding: 20px;
}

.mat-toolbar {
    background: teal;
    color: #fff
 }

button{
    background: teal;
    color: #fff
 }
.full-width{
    height: 100%;
    width: 100%;
}